{% extends 'base.html.twig' %}

{% block title %}New Car{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Create new Car</h1>

        <div class="card mb-4">
            <div class="card-body">
                {{ include('car/_form.html.twig') }}
            </div>
        </div>

        <a href="{{ path('app_car_all') }}" class="btn btn-info">Back to list</a>
    </div>
{% endblock %}
