{% extends 'base.html.twig' %}

{% block title %}New CarCategory{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Create new CarCategory</h1>

        <div class="card mb-4">
            <div class="card-body">
                {{ include('car_category/_form.html.twig', {'button_label': 'Create'}) }}
            </div>
        </div>

        <a href="{{ path('app_car_category_index') }}" class="btn btn-info">Back to list</a>
    </div>
{% endblock %}
