{# templates/resource/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Select a Resource{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Select a resource to operate on</h1>

        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('app_car_index') }}" class="btn btn-primary btn-block btn-lg mb-4">Cars</a>
            </div>

            <div class="col-md-6">
                <a href="{{ path('app_car_category_index') }}" class="btn btn-success btn-block btn-lg mb-4">Car Categories</a>
            </div>
        </div>
    </div>
{% endblock %}
